<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://instuigram-avatar.jpg">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
         <button>Edit Profile</button>
       </a>
     </div>
     <ul class="posts">
      <li><span>0</span> posts</li>
      <li><span>0</span> followers</li>
      <li><span>0</span> following</li>
    </ul>
    <h2 class="name"><%= current_user.name %></h2>
    <%=link_to current_user.website, current_user.website, class:  'website' %>
  </div>
</div>
</div>

<div class="user-tabs">
  <a class="tab active" href="/posts/new">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="your_image_url">
  </div>
  <div class="wrapper">
    <img src="your_image_url">
  </div>
  <div class="wrapper">
    <img src="your_image_url">
  </div>
</div>