@import "bootstrap";
@import "font-awesome";
@import "users";

.container{
	max-width: 1000px;
}
.navbar{
	border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
	a{
		padding-left: 15px;
	}
	i.fa{
		font-size: 22px;
		color: #000000d4;
	}
}
.search-form{
	input{
		font-size: 13px;
		text-align: center;
	}
}
.footer{
	font-size: 12px;
	padding-top: 30px;
	ul{
		padding-left: 0;
		> li{
			display: inline;
			padding-right: 15px;
			color: #003569;
		}
	}
	p{
		color: #999;
	}
}

.profile .avatar{
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img{
    width: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.posts{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: #262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
  .website{
    color: #003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-tabs{
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid #262626;
    color: #262626;
  }
}

.user-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
.wrapper{
    width: 280px;
    height: 280px;
    margin: 15px;
    img{
      width: 100%;
      border-radius: 4%;
    }
  }
}





