<!DOCTYPE html>
<html>
  <head>
    <title>Instuigram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="/home/index">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            Instagram
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          
          <% if user_signed_in? %>
             <a href="<%= user_path(current_user)%>">
              <i class="fa fa-user"></i>
             </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
               <i class="fa fa-sign-in"></i>
            </a>
         <% end %>

        </div>
      </div>
    </nav>

    
    <main class="container" style="min-height: 500px;">

      <%= yield %>
    </main>

    
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li><%= link_to 'ABOUT US', root_path %></li>
          <li><%= link_to 'SUPPORT', root_path %> </li>
          <li><%= link_to 'PRESS', root_path %></li>
          <li><%= link_to 'API', root_path %></li>
          <li><%= link_to 'JOBS', root_path %></li>
          <li><%= link_to 'PRIVACY', root_path %></li>
          <li><%= link_to 'TERMS', root_path %></li>
          <li><%= link_to 'DIRECTORY', root_path %></li>
          <li><%= link_to 'PROFILES', root_path %></li>
          <li><%= link_to 'HASHTAGS', root_path %></li>
          <li><%= link_to 'LANGUAGE', root_path %></li>
        </ul>
        <p> © 2019 INSTAGRAM </p>
      </nav>
    </footer>
  </body>
</html>